header {
    text-align: center;
    padding: 40px 20px;
    font-size: larger;
    background-color: #FFBBBD; 
    border-bottom: 2px solid #FF5722; 
}

header h1 {
    color:#FF5722;
    font-size: 2.5rem;
    

}


footer {
border-top: 2px solid 
}



